@font-face {
  font-family: 		'Roboto';
  font-style: 		normal;
  font-weight: 		100;
  src: 				local('Roboto Thin'), 
					local('Roboto-Thin'), 
					url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2'),
					url('fonts/Roboto-Thin.ttf')  format('truetype');
  unicode-range: 	U+000-5FF;
  font-display:		swap;
}

@font-face {
  font-family: 		'Roboto';
  font-style: 		normal;
  font-weight: 		300;
  src: 				local('Roboto Light'), 
					local('Roboto-Light'), 
					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2'), 
					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff'), 
					url('fonts/Roboto-Light.ttf')  format('truetype');
  unicode-range: 	U+000-5FF;
  font-display:		swap;
}

@font-face {
  font-family: 		'Roboto';
  font-style: 		normal;
  font-weight: 		400;
  src: 				local('Roboto'), 
  					local('Roboto-Regular'), 
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2'), 
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff'), 
  					url('fonts/Roboto-Regular.ttf')  format('truetype');
  unicode-range: 	U+000-5FF;
  font-display:		swap;
}

@font-face {
  font-family: 		'Roboto';
  font-style: 		normal;
  font-weight: 		500;
  src: 				local('Roboto Medium'), 
  					local('Roboto-Medium'), 
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2'),
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc-AMP6lQ.woff) format('woff'),
  					url('fonts/Roboto-Medium.ttf')  format('truetype');
  unicode-range: 	U+000-5FF;
  font-display:		swap;
}

@font-face {
  font-family: 		'Roboto';
  font-style: 		normal;
  font-weight: 		700;
  src: 				local('Roboto Bold'), 
  					local('Roboto-Bold'), 
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2'), 
  					url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff'), 
  					url('fonts/Roboto-Bold.ttf')  format('truetype');
  unicode-range: 	U+000-5FF;
  font-display:		swap;
}

:root {
	--f: 			'Roboto', sans-serif;
	--fThin: 		100;
	--fLight: 		300;
	--fRegular: 	400;
	--fMedium: 		500;
	--fBold: 		700;
	--cPrimary: 	#3E3E3E;
}

a, a:visited {
	color: 				inherit;
	text-decoration: 	none;
}

html {
	font-size: 			62.5%;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}


body {
	border: 10px solid var(--cPrimary);
	color: var(--cPrimary);
	margin: 0;
	font-family: var(--f), Arial, sans-serif;
	font-weight: var(--fLight);
}

picture {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* Navigation */
.outer-nav {
	max-width: 1280px;
	padding-left: 2em;
	padding-right: 2em;
	margin-left: auto;
	margin-right: auto;
}

.outer-nav::after {
	clear: both;
	content: '';
	display: table;
}

.nav {
	padding-top: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-logo {
	border: 4px solid var(--cPrimary);
	width: 50px;
    height: 50px;
    display: block;
    overflow: visible;
    position: relative;
    transform: rotate(0deg);
    transition: transform .4s ease-in-out;
    flex-shrink: 0;
}

.main-logo:hover {
	opacity: 1;
	transform: rotate(-90Deg);
	transition: transform .4s ease-in-out;
}

.main-logo:hover .logo-text {
	transform: translate(-50%,-50%) rotate(90deg);
    transform-origin: center;
}

.main-logo .logo-text {
	font-weight: var(--fMedium);
	position: absolute;
    top: 50%;
    left: 50%;
    transition: transform .4s ease-in-out;
    transform: translate(-50%,-50%) rotate(0deg);
    transform-origin: center;
    font-size: 16px;
    
}

.nav-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-right .list-item {
	list-style: none;
	padding-left: 2em;
	font-size: 1.9em;
}

.transition-link {
	text-decoration: none;
	position: relative;
}

.transition-link:after {
	content: '';
  	position: absolute;
  	left: 50%;
  	bottom: -2px;
  	width: 0px;
  	height: 1px;
  	background: var(--cPrimary);
  	transition: all 0.9s;
}

.transition-link:hover:after {
  width: 100%;
  left: 0;
}

.transition-link:hover {
  text-decoration: none;
}


/* Main Part of Site */

main {
	display: block;
}

main section {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2em;
	padding-right: 2em;
	max-width: 1000px;
}

.hero {
	padding-top: 1.8em;
	font-size: 2.7em;
	padding-bottom: 1.8em;
	display: flex;
	justify-content: center;
}



.about {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	max-width: 1000px;
}

.about-left {
	padding-bottom: 3em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	width: 45%;
}

.about-left img {
	max-width: 100%;
}

.about-right {
	padding-left: 1.5em;
	padding-right: 1.5em;
	width: 45%;
}

@media (max-width: 1024px) {
	.hero {
		padding-top: 0;
		padding-bottom: 1em;
	}
	.about {
		flex-wrap: wrap;
	}
	.about-left {
		width: 100%;
	}
	.about-right {
		width: 100%;
	}
}

.about-right .text {
	display: block;
	line-height: 1.3em;
	font-size: 1.8em;
}

.about-skills {
	padding-top: 1.5em;
	display: flex;
	justify-content: space-between;
	font-size: 1.8em;
	flex-wrap: wrap;
}



.about-skills .skills-left {
	flex-grow: 2;
}

.about-skills .skills-right {
	flex-grow: 3;
}

.skillsicon {
	max-width: 30px;
}

.about-skills ul {
	margin-top: 0;
	list-style: none;
}

.about-skills li {
	line-height: 1.3em;
}

.about-right .about-buttons {
	padding-top: 2em;
	padding-bottom: 1em;
}

@media (min-height: 1000px) {

	.about {
		max-width: 1200px;
	}

	.about-right .text {
		font-size: 2em;
	}

	.about-skills {
		padding-top: 3em;
		font-size: 2em;
	}

	.about-right .about-buttons {
		padding-top: 3em;
	}
}

.about-buttons a.btn {
	padding: 5px 20px !important;
	position: relative;
	left: -35px;
}

@media (max-width: 1024px) {
	.about-buttons a.btn {
		left: 0;
	}
}

/* Divider */

.divider {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 20px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 2em;
	padding-bottom: 3em;
	max-width: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.divider * {
	max-width: none !important;
	text-align: center;
	font-size: 1.2em;
	padding-top: 0.5em;
	animation: MoveUpDown 3s ease-in-out infinite;
}

@media (max-height: 900px) {
	.divider {
		position: relative;
	}
}

@keyframes MoveUpDown {
	0%   { 
		transform:translate(0,-10px); 
		opacity: 0;  
	}
  	50%  { 
  		opacity: 1;  
  	}
  	100% {
  		transform:translate(0,30px); 
  		opacity: 0; 
  	}
}


/* Sticky Project Cards */

.project {
	padding-top: 4em;
	padding-bottom: 4em;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
	max-width: 1200px;
}

.project > picture > img {
	width: 100%;
	height: 100%;
	max-width: 800px;
	max-height: 800px;
	object-fit: contain;
	margin: 0 auto;
}

.project h2 {
	font-size: 3em;
	margin: 0 auto;
	padding-bottom: 1em;
}

#project01 h3 {
	color: #FF9933;
}


#project02 h3 {
	color: var(--cPrimary);
}

#project03 h3 {
	color: #14A014;
}

#project04 h3 {
	color: red;
}


.mySlides {
	height: 160px;
}

.project h3 {
	padding-top: 1em;
	font-size: 2em;
	width: 100%;
	max-width: 800px;
	margin: 0 auto
}

.project p {
	padding-top: 1em;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	font-size: 2em;
}

.project > div.skills {
	margin: 0 auto;
	padding-top: 2em;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	max-width: 600px;
	font-size: 2em;
	margin-bottom: 2em;
}

.project a {
	padding: 5px 20px;
}

.project > div.skills ul {
	margin: 0;
	list-style: none;
}


/* Buttons */

.btn-cont {
	 display: flex;
	 justify-content: space-evenly;
	 width: 100%;
	 max-width: 600px;
	 margin: 0 auto;
}
.btn-cont .btn {
	font-size: 2em;
	 position: relative;
	 border: 1px solid var(--cPrimary);
	 color: var(--cPrimary);
	 text-decoration: none;
	 letter-spacing: 2px;
}
.btn-cont .btn:hover {
	 border: none;
	 margin: 1px;
}
.btn-cont .btn:hover .line-1 {
	 animation: move1 2500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
	 animation: move2 2500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
	 animation: move3 2500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
	 animation: move4 2500ms infinite ease;
}
.btn-cont .line-1 {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 1px;
	 background-color: var(--cPrimary);
	 left: 0;
	 bottom: 0;
}
.btn-cont .line-2 {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 1px;
	 background-color: var(--cPrimary);
	 left: 0;
	 top: 0;
}
.btn-cont .line-3 {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 1px;
	 background-color: var(--cPrimary);
	 right: 0;
	 top: 0;
}
.btn-cont .line-4 {
	 content: "";
	 display: block;
	 position: absolute;
	 height: 1px;
	 background-color: var(--cPrimary);
	 right: 0;
	 bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%; 
    bottom: 0;
  }
  54% {
    height: 0; 
    bottom: 100%;
  }
  55% {
    height: 0; 
    bottom: 0;
  }
  100% {
    height: 100%; 
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%; 
    left: 0;
  }
  100% {
    width: 0; 
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%; 
    top: 0;
  }
  54% {
    height: 0; 
    top: 100%;
  }
  55% {
    height: 0; 
    top: 0;
  }
  100% {
    height: 100%; 
    top: 0;
  }
}

@keyframes move4 {
  0% {
    width: 0; 
    right: 0;
  }
  55% {
    width: 100%; 
    right: 0;
  }
  100% {
    width: 0; 
    right: 100%;
  }
}

footer {
	width: calc(100% - 20px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.6em;
	text-align: center;
	height: 100px;
}

footer * {
	padding-top: 10px;
}



/* Kontakt */



#contact .hero {
	justify-content: flex-start;
	padding-bottom: 0em;
}

#contact .text {
	padding-top: 0em;
	font-size: 1.8em;
}

#contact p a {
	text-decoration: underline;
}

#contact p {
	margin: 0;
}


/* Kontakt */

.contactform {
	max-width: 600px;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 100px;
}

.contactform form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.contactform label {
	margin-top: 20px;
}

.contactform * {
	font-size: 1.2em;
}

.contactform form label:nth-child(1),
.contactform form label:nth-child(2) {
	width: 50%;
}




.contactform label:nth-child(1) {
	display: flex;
	justify-content: flex-start;
}

.contactform form label:nth-child(1) input,
.contactform form label:nth-child(2) input {
	width: 80%;
	border: 1px solid rgba(0,0,0,0.26);
	padding: 10px 20px;
}

@media (max-width: 1024px) {
	.contactform form label:nth-child(1),
	.contactform form label:nth-child(2) {
		width: 100%;
	}

	.contactform form label:nth-child(1) input,
	.contactform form label:nth-child(2) input {
		width: 100%;
	}
}

.contactform label:nth-child(2) {
	display: flex;
	justify-content: flex-end;
}

.contactform label:nth-child(n + 3) {
	width: 100%;
}
.contactform label:nth-child(n + 3) input{
	width: calc(100% - 44px);
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.26);
}

.contactform textarea {
	width: calc(100% - 42px);
	padding: 10px 20px;
	height: 200px;
	resize: none;
	border: 1px solid rgba(0,0,0,0.26);
	margin-bottom: 20px;
	font-family: var(--fLight);
}

input {
	font-family: var(--fLight);
}

.contactform input::-webkit-input-placeholder {
  font-family: var(--fLight), Arial, sans-serif;
}

.contactform input:-ms-input-placeholder {
  font-family: var(--fLight), Arial, sans-serif;
}

.contactform input:-moz-placeholder {
  font-family: var(--fLight), Arial, sans-serif;
}

.contactform input::-moz-placeholder {
  font-family: var(--fLight), Arial, sans-serif;
}

.contactform .btn {
	font-size: 1.4em;
	padding: 5px 30px;
	background-color: white;
}

input:focus, textarea:focus {
	outline: 0;
	box-shadow: 0;
}











